body {
  background-color: #f7f6f8;
}

#root {
  margin-top:20px;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.view {
  animation: fadeIn 0.2s ease-in;
}

.history span {
  margin-right: 8px;
}
